/* cmsms stylesheet: Simplex Print modified: czwartek, 1 maja 2025 00:00:56 */
body {background: #fff;color: #000;font-family: Georgia, Times New Roman, serif;font-size: 12pt}.noprint,.visuallyhidden {display: none}img {display: block;float: none}a:link:after {content: " (" attr(href) ") ";}a {text-decoration: underline}
